.demo--wrapper {
  position: relative;
  width: 100%;
  max-width: 480px;
  border: 2px solid #dddddd;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 auto;
  
  &:hover, &:focus, &:active {
    .demo--image {
      transform: scale(1.1);
    }
    .demo--username {
      &::after {
        width: 100%;
        background: #333333;
      }
    }
  }
  
  .demo--avatar {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all 0.4s ease 0s;
    
    @media screen and (min-width: 480px) {
      width: 48px;
      height: 48px;
      left: 14px;
      top: 14px;
    }
  }
  
  .demo--username {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin: 22px 5px 22px 64px;
    position: relative;
    display: inline-block;
    transition: all 0.4s ease 0s;
    
    @media screen and (min-width: 480px) {
      font-size: 18px;
      margin: 30px 5px 30px 80px;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      display: block;
      margin-top: 0;
      left: 0;
      right: 0;
      background: #333333;
      transition: width .6s ease;
      -webkit-transition: width .6s ease;
    }
  }
  
  .demo--image-cont {
    overflow: hidden;
    
    .demo--image {
      display: block;
      width: 100%;
      height: auto;
      border: none;
      transition: all 1.0s ease 0s;
    }
  }
  
  .demo--date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #999999;
    margin: 25px 5px 25px 14px;
    transition: all 0.4s ease 0s;
    
    @media screen and (min-width: 480px) {
      font-size: 16px;
      margin: 40px 5px 40px 18px;
    }
  }
}